---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>

    {% if post.excerpt == false %}
      {{ post.content }}
    {% else %}
      {{ post.excerpt }}

      <p><a href="{{ post.url }}">Lire la suite &raquo;</a></p>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Articles passés</a>
  {% else %}
    <span class="pagination-item older">Articles passés</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Articles récents</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Articles récents</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Articles récents</span>
  {% endif %}
</div>
