---
---

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$color-muted: #999;

@import "utils";
@import "poole";
@import "grid";
@import "buttons_and_icons";

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.container {
  padding-left:  1rem;
  padding-right: 1rem;
}
@media (min-width: $breakpoint-sm) {
  .container {
    width: $breakpoint-sm;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: $breakpoint-lg) {
  .container {
    width: $breakpoint-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

.content {
  padding-top: 1rem;
}

.widget {
  margin-bottom: 1rem;
}

.social-medias {
  margin: 0 auto 1rem;

  .social {
    margin-right: 0.5rem;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

// Cover
// ----------

.cover {
  position: relative;
  height: 240px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;

  .posts & {
    display: block;
    height: 240px;
    margin-bottom: 0.5rem;
  }

  .title-section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #dedede;

    a {
      color: #dedede;
    }
  }

  .social-medias {
    margin-bottom: 0;
  }
}
@media (min-width: $breakpoint-sm) {
  .cover {
    height: 360px;
  }
}

// Post
// --------

.post {
  margin-bottom: 2em;

  iframe {
    max-width: 100%;
  }
}

.sharing {
  margin-bottom: 2em;

  .permalink {
    margin-top: 1em;
    font-size: 0.8em;

    &, a {
      color: #c0c0c0;
      text-decoration: none;
    }
  }
}

.related {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sidebar {
  .site-title {
    margin-top: 0;
  }
}

.linklist-inline {
  list-style: none;
  padding-left: 0;

  .linklist-item {
    display: inline;
  }

  .linklist-separator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
